{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'blog/css/rtl.css' %}">
    <title>ارسال ایمیل برای بازیابی گذرواژه</title>
</head>
<body>
    <div style="font-family: Sahel;text-align: center;background-color:bisque;display:grid">
        <h2 style="color:rgb(63, 173, 30);"> گذرواژه جدید ایجاد شد.</h2>
        <p style="color:rgb(1, 138, 31)">
            گذرواژه جدید تنظیم شد.
        </p >
        <p style="color:rgb(161, 93, 5);"><a href="{% url 'login' %}">ورود به سایت</a></p>
    </div>
</body>
</html>

