<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ms-auto py-4 py-lg-0 ">
        <b><li class="nav-item"><a class="nav-link text-dark px-lg-3 py-3 py-lg-4" href="{% url 'blog:home' %}">خانه</a></li></b>
        {% for cat in category %}
            <li class="nav-item">
                <b>
                    <a class="nav-link text-dark px-lg-3 py-3 py-lg-4" href="{% url 'blog:category' cat.slug %}">
                        {{cat.title}}
                    </a>
                </b>
            </li>
        {% endfor %}
    </ul>
    
    <form class ="form-inline mt-2 d-flex " action="{% url 'blog:search' %}">
        <input type="search" style="border-radius: 15px;margin:0 10px " name="q"  placeholder="جستجو متن" class="form-control">
        <button class="btn btn-success text-light shadow-lg" style="padding: 8px;border-radius: 15px;font-size: 1rem;">جستجو</button>
    </form>
</div>